<div class="product">
  <div class="product-details">
    <img src="{{'/assets/images/robot-parts/' + product.imageName}}" alt="{{product.name}}" />
    <div class="product-info">
      <div class="name">{{product.name}}</div>
      <div class="description">{{product.description}}</div>
      <div class="category">Part Type: {{product.category}}</div>
    </div>
  </div>
  <div class="price">
    <div>{{product.price | currency}} </div>
    <button *ngIf="allowPurchase" class="cta" (click)="addToCart(product)">Buy</button>
  </div>
</div>