.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 24px;
  margin-bottom:10px;
}

.left {
  display: flex;
  align-items: center;
}
.left * {
  margin-right:25px;
}
.logo {
  height: 65px;
}

.right {
  display: flex;
  align-items: center;
}
.right * {
  margin-left:25px;
}

