<div class="container">
  <div class="left">
    <img class="logo" src="/assets/images/logo.png" alt="Logo" />
    <a [routerLink]="['/']">Home</a>
    <a [routerLink]="['catalog']">Catalog</a>
    <div class="cart">
      <a [routerLink]="['cart']">Cart</a>
      <div class="cartCount" *ngIf="getCartCount() > 0">
        <div>{{getCartCount()}}</div>
      </div>
    </div>
  </div>
  <div class="right" *ngIf="!getUser()">
    <a [routerLink]="['user/sign-in']">Sign In</a>
    <a [routerLink]="['user/register']" class="cta">Register</a>
  </div>
  <div class="right" *ngIf="getUser()">
    <div>
      <img src="/assets/images/profile.png" (click)="toggleSignOutMenu()" alt="profile picture" />
      <div class="sign-out" *ngIf="showSignOutMenu">
        <button (click)="signOut()">Sign Out</button>
      </div>
    </div>
  </div>
</div>