<div class="container">
  <div class="left">
    <img class="logo" src="/assets/images/logo.png" alt="Logo" />
    <a href="/">Home</a>
    <a href="catalog">Catalog</a>
  </div>
  <div class="right" *ngIf="!getUser()">
    <a href="user/sign-in">Sign In</a>
    <a href="" class="cta">Register</a>
  </div>
  <div class="right" *ngIf="getUser()">
    <div>
      <img src="/assets/images/profile.png" (click)="toggleSignOutMenu()" alt="profile picture" />
      <div class="sign-out" *ngIf="showSignOutMenu">
        <button (click)="signOut()">Sign Out</button>
      </div>
    </div>
  </div>
</div>