<div class="container">
  <div class="filters">
    <a
      class="button"
      [routerLink]="['/catalog']"
      [queryParams]="{ filter: 'Heads' }"
      >Heads</a
    >
    <a
      class="button"
      [routerLink]="['/catalog']"
      [queryParams]="{ filter: 'Arms' }"
      >Arms</a
    >
    <a
      class="button"
      [routerLink]="['/catalog']"
      [queryParams]="{ filter: 'Torsos' }"
      >Torsos</a
    >
    <a
      class="button"
      [routerLink]="['/catalog']"
      [queryParams]="{ filter: 'Bases' }"
      >Bases</a
    >
    <a class="button" [routerLink]="['/catalog']" [queryParams]="{ filter: '' }"
      >All</a
    >
  </div>

  <ul class="products">
    <li class="product-item" *ngFor="let product of visibleProducts">
      <bot-product-details [product]="product">
        <button class="cta" (click)="addToCart(product)">Buy</button>
      </bot-product-details>
    </li>
  </ul>
</div>
