<div class="container">
  <form (ngSubmit)="signIn()" class="form" #signInForm="ngForm">
    <img class="logo" src="/assets/images/logo.png" />
    <div class="sign-in">Sign In</div>
    <div class="sub-text">to acquire awesome bots</div>
    <input
      name="email"
      [(ngModel)]="credentials.email"
      #email="ngModel"
      [ngClass]="{ error: email.invalid && email.dirty }"
      required
      placeholder="Email Address"
      type="text"
    />
    <em class="error" *ngIf="email.invalid && email.dirty">
      Email is required
    </em>
    <input
      name="password"
      [(ngModel)]="credentials.password"
      #password="ngModel"
      [ngClass]="{ error: password.invalid && password.dirty }"
      required
      minlength="8"
      placeholder="Password"
      type="password"
    />
    <em class="error" *ngIf="password.errors?.['required'] && password.dirty">
      Password is required
    </em>
    <em class="error" *ngIf="password.errors?.['minlength'] && password.dirty">
      Password must be at least 8 characters
    </em>
    <div class="buttons">
      <button
        type="submit"
        class="button cta"
        [disabled]="!signInForm.form.valid"
      >
        Sign In
      </button>
    </div>
    <div class="signInError" *ngIf="signInError">
      Sign-In Failed. Please try again.
    </div>
  </form>
</div>
